h1
{
    color:navy;
    font-size: 50px;
    font-family: "Palatino", serif;
    text-align: center;
}
h3
{
    color:navy;
    font-size: 25px;
    font-family: "Palatino", serif;
    text-align: center;
}
body
{
    background-color: plum;
    font-size: 17px;
    text-align: center;
}